### Backend (Python refresher)
- Intro
- IDE Setup
    - Jupyter notebook, 
    - Pycharm
    - VSCode
    - IDLE
- Datatypes
    - Numbers
    - Strings
    - Printing
    - Lists
    - Dictionaries
    - Booleans
    - Tuples
    - Sets
- Comparison Operators
- if, elif else
- for loops
- while loops
- range()
- list comprehension
- functions
- lambda expressions
- map and filter
- methods

##### Numbers

Two types
- integers
- floating points (numbers with decimal points)

In [272]:
1+1

2

In [273]:
2-1

1

In [274]:
3*4

12

In [275]:
4/2

2.0

In [276]:
1.5/3

0.5

In [277]:
2 ** 4

16

In [278]:
#If you divide 2 ints you can still get a float 
1/2

0.5

In [279]:
#Exponentiation
#2^4
2**4

16

In [280]:
#python follows order of operations
#use parenthesis to clarify the order
2+3*5+5

22

In [281]:
#or with brackets
(2+3) * (5+5)

50

In [282]:
#mod
10 % 3

1

In [283]:
#variables
#can't start with numbers

x=2
y=3

x+y

5

In [284]:
#strings
' single quote'
"this is a string"
' "this is a string with double quotes" '
" 'this is a string with single quotes' "

x = 'hello'
print (x )

hello

In [285]:
#formatting strings
age = 12
name = 'Sam'
print("My name is {} and my age is {}".format(name, age))

My name is Sam and my age is 12

In [286]:
#named placeholders
print("My name is {x} and my age is {y}. Just to remind you my name is {z}".format(x=name, y= age, z=name))

My name is Sam and my age is 12. Just to remind you my name is Sam

In [287]:
#indexing starts at 0
#string is just a sequnce of chars
s = "hello"
print(s[0])
print(s[4])

#slice notation
print(s[1:3]) #upto but not including 3rd position

h
o
el

In [288]:
#reverse a string
s = "hello"

print(s[::4])

ho

In [294]:
#lists
a = [1,2,3]
#or
b = ['a','b','c']

print(a)
print (b)
b.append(2)
print(b)

print(b[1:2])
print(b)

[1, 2, 3]
['a', 'b', 'c']
['a', 'b', 'c', 2]
['b']
['a', 'b', 'c', 2]

In [295]:
#nesting lists
nest = [1,2,[3,4]]

print(nest[2][1])

4

In [298]:
#Dictionaries
new_dict= {'key1': 'val1', 'key2':123}
print(new_dict)

{'key1': 'val1', 'key2': 123}

In [302]:
d = {'k1':[1,2,3]}
my_list= d['k1']
print(my_list)

[1, 2, 3]

In [304]:
#Booleans
print(True)
print(False)

True
False

In [308]:
#Tuple
s = (1,2,3)
print(s)
print(s[0])

#s[0] =3 # this is an error because tuples are immutable. They cannot be changed
#Thats the differnce between a tuple and a list

(1, 2, 3)
1

In [309]:
#Set only has unique elements
print(set([1,2,3,4,5,4,3,2]))

{1, 2, 3, 4, 5}

In [310]:
s = {11,11,12,13}
print(s)

{11, 12, 13}

In [311]:
#compairson ops
1 ==2

False

In [312]:
1<2

True

In [313]:
1<2 and 2<3

True

In [314]:
1<2 and 2>3

False

In [315]:
1 !=1

False

In [316]:
1 == 1 or 2<3

True

In [318]:
#conditional operators
if 1 < 2:
    print("yep!")

if True:
    print("This will always be true")

yep!
This will always be true

In [319]:
if 1>2:
    print("No way")
else:
    print("this looks better")

if 1>2:
    print("No way")
elif 2>1:
    print("Looks right now")
else:
    print("this looks better")

this looks better
Looks right now

In [320]:
#for loops
seq = [1,2,3,4,5]

for item in seq:
    print (item)

1
2
3
4
5

In [321]:
seq = [1,2,3,4,5]

#You don't have to use the items, just the count
for item in seq:
    print ("hello")

hello
hello
hello
hello
hello

In [322]:
#while a condition is true
i = 1

while i < 5:
    print ("i is: {}".format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [323]:
#range 
for x in range(0,10):
    print (x)

0
1
2
3
4
5
6
7
8
9

In [324]:
for x in range(10):
    print (x)

0
1
2
3
4
5
6
7
8
9

In [325]:
#list comprehension
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [326]:
x = [1,2,3,4]
out = []

for num in x:
    out.append(num **2)

print(out)

[1, 4, 9, 16]

In [327]:
# this is a list comprehension
[ num ** 2 for num in x]

[1, 4, 9, 16]

In [328]:
#functions
#keyword is def

def my_func(param1):
    print(param1)

my_func("hello")

hello

In [331]:
def my_func(param1):
    print("Hello " + param1)

my_func("Sam")

Hello Sam

In [334]:
#default param

def my_func(name = "tom"):
    print("Hello " + name)

my_func("Sam")
my_func()
my_func

Hello Sam
Hello tom

In [335]:
#return a value 
def square(num):
    "square function"
    return num*2

output = square(2)

print(output)

4

In [338]:
#map function

seq = [1,2,3,4,5]

print(list(map(square, seq)))

[2, 4, 6, 8, 10]

In [340]:
#Lambda expressions
# also known as anonymous function
def square(num):
    "square function"
    return num*2

#or

def square(num):return num*2

#but the lambda strips out the not needed items

lambda var: var*2

print(list(map(lambda var: var*2, seq)))

[2, 4, 6, 8, 10]

In [342]:
#filter function
#instead of mapping elements into a sequence, we will filter out items

filter(lambda num:num%2==0, seq)
#if you want the result back you have to convert it to a list

list(filter(lambda num:num%2==0, seq))

[2, 4]

In [353]:
#methods
# methods are calls you can make of an object that will affect the object 
#or return something

s = 'My name is John'
print(s.lower())
print(s.upper())
print(s)

print(s.split())

s = 'Wow the weather is good #Climate #germany'

print(s.split('#'))
print(s.split('#')[1])
print(s.split('#')[2])

my name is john
MY NAME IS JOHN
My name is John
['My', 'name', 'is', 'John']
['Wow the weather is good ', 'Climate ', 'germany']
Climate
germany

In [364]:
d = {'k1':31, 'k2': 42}
print(d)

print(d.keys())
print(d.items())
print(d.values())
print(d.pop('k2'))
print(d)
print(d.popitem())
print(d)

{'k1': 31, 'k2': 42}
dict_keys(['k1', 'k2'])
dict_items([('k1', 31), ('k2', 42)])
dict_values([31, 42])
42
{'k1': 31}
('k1', 31)
{}

In [368]:
lst = [1,2,3]
print(lst)
lst.pop()
print(lst)

lst.append(54)
print(lst)
lst.pop()
print(lst)
lst.pop(0)
print(lst)

[1, 2, 3]
[1, 2]
[1, 2, 54]
[1, 2]
[2]

In [369]:
'x' in lst

False

In [370]:
'x' in ['x', 'y', 'z']

True

In [372]:
#Tuple unpacking

x = [(1,2), (3,4), (5,6)]

print(x[0][0])

#or

for item in x:
    print(item)

1
(1, 2)
(3, 4)
(5, 6)

In [373]:
for (a,b) in x:
    print(a)

1
3
5

In [374]:
for a,b in x:
    print(b)

2
4
6